# PostgreSQL config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeME
POSTGRES_DB=express

# Database
# Note the host is 'postgres' matching the compose service name
DATABASE_URL=postgresql://postgres:changeME@postgres:5432/express?schema=public

# API config
JWT_SECRET=supersecretjwtsecretthathastobeatleast32chars
JWT_EXPIRES_IN=7d
PORT=3000
BCRYPT_ROUNDS=12
NODE_ENV=development

# Frontend config
VITE_API_URL=http://localhost:3000/api/v1

